.DS_Store
**/.DS_Store
.dev_builds
dev_releases
releases/*.tgz
releases/**/*.tgz
config/dev.yml
config/private.yml
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
blobs
.blobs
*~
*#
#*
.idea

/bin
/pkg

manifests/*deployment.yml

secrets.yml
