[submodule "src/github.com/pivotal-cf/brokerapi"]
	path = src/github.com/pivotal-cf/brokerapi
	url = https://github.com/pivotal-cf/brokerapi.git
	pushurl = git@github.com:pivotal-cf/brokerapi.git
	branch = main
[submodule "src/github.com/pivotal-cf/on-demand-service-broker"]
	path = src/github.com/pivotal-cf/on-demand-service-broker
	url = https://github.com/pivotal-cf/on-demand-service-broker.git
	pushurl = git@github.com:pivotal-cf/on-demand-service-broker.git
	branch = main
[submodule "examples/redis-example-service-adapter-release"]
	path = examples/redis-example-service-adapter-release
	url = https://github.com/pivotal-cf-experimental/redis-example-service-adapter-release.git
	pushurl = git@github.com:pivotal-cf-experimental/redis-example-service-adapter-release.git
[submodule "examples/redis-example-service-release"]
	path = examples/redis-example-service-release
	url = https://github.com/pivotal-cf-experimental/redis-example-service-release.git
	pushurl = git@github.com:pivotal-cf-experimental/redis-example-service-release.git
[submodule "examples/kafka-example-service-release"]
	path = examples/kafka-example-service-release
	url = https://github.com/pivotal-cf-experimental/kafka-example-service-release.git
	pushurl = git@github.com:pivotal-cf-experimental/kafka-example-service-release.git
[submodule "examples/kafka-example-service-adapter-release"]
	path = examples/kafka-example-service-adapter-release
	url = https://github.com/pivotal-cf-experimental/kafka-example-service-adapter-release.git
	pushurl = git@github.com:pivotal-cf-experimental/kafka-example-service-adapter-release.git
[submodule "src/github.com/pivotal-cf/on-demand-services-sdk"]
	path = src/github.com/pivotal-cf/on-demand-services-sdk
	url = https://github.com/pivotal-cf/on-demand-services-sdk.git
	pushurl = git@github.com:pivotal-cf/on-demand-services-sdk.git
	branch = main
